div.card-panel {

	margin: 10px 20px;
	padding-bottom: 5px;

}

div.row {

	margin: 1px 1px;
	padding-bottom: 1px;
	padding-top: 1px;

}

.profit-green {

	color: green;

}

.profit-red {

	color: red;

}

.tr-small {

	margin: 2px 2px;
	padding-bottom: 1px;
	padding-top: 1px;

}

.rates {

 	padding-left: 0px !important;
    padding-right: 0px !important;

}


body {
    background-color: #f5f5f5;
}



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}




.nospace {
	
    padding: 0 !important;
    margin: 0 !important;


}

.itemnospace {
	
    padding: 2px !important;
    margin: 2px !important;
    color: black;


}


